<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.supermarket.domain.express.mapper.ExpressMapper">
    <resultMap id="Express" type="com.coding.supermarket.domain.express.model.Express">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="ExpressClientSetting" type="com.coding.supermarket.domain.express.model.ExpressClientSetting">
        <id property="client" column="client"/>
        <result property="clientConfig" column="client_config"/>
        <result property="expressConfig" column="express_config"/>
    </resultMap>

    <select id="get" resultMap="Express">
        select  * from t_express where id = #{expressId}
    </select>

    <select id="findExpressClientSetting" resultMap="ExpressClientSetting">
        select ecs.*,ec.config client_config from t_express_client_setting ecs left join t_express_client ec on ecs.client = ec.name where express_id = #{expressId}
    </select>
</mapper>
